#bodyMCP
{
	width:800px;
	height:600px;
	margin:0 auto;
}
	.titleMCP
	{
		width:800px;
		height:26px;
/*		margin:0 auto;        */
		text-align:center;
		text-transform:uppercase;
		color:Blue;
		font-weight:bold;
		font-family:Times New Roman;
		font-size:xx-large;	
	}
	
#page_favourite
{
	width:537px;
	float:left;
}
.favorite_name
{
	width:437px;
	float:left;
	text-align:left;
}
.favourite_remove
{
	width:100px;
	float:right;
	text-align:center;	
}
.favorite_content
{
	width:537px;
	float:left;
}
.member_blast
{
	width:849px;
	color:#FFFFFF;
	font-size:24px;
	text-align:center;
}
.member_menu
{
	color:#FFFFFF;
}
.glossymenu{
list-style-type: none;
margin: 5px 0;
padding: 0;
width: 160px;
border: 1px solid #9A9A9A;
text-align: left;
}

.glossymenu li a{
background: white url(../../Media/Images/MemberDefault.jpg) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 3px 0;
text-decoration: none;
padding-left:5px;

}


* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(../../Media/Images/MemberActive.jpg);
}
.member_menu_left
{
	width:170px;
	float:left;
}
.member_menu_right
{
	width:650px;
	float:right;
	margin-right:10px;
}
