
#pageRestaurantByCuisine
{
	width:869px;
	background-color:#333333;
	margin:0 auto;
}
#pageRestaurantSearch
{
	width:869px;
	height:27px;
	background-image:url(../../Media/Images/restaurantSearch.jpg);
	background-repeat:no-repeat;
	
}
#pageRestaurantByCuisineHeader
{
	width:869px;
	height:37px;
	background-image:url(../../Media/Images/restaurantByCuisine.jpg);
	background-repeat:no-repeat;
	
}
.pageRestaurantByCuisineCenter
{
	width:869px;
	height:auto;
	background-image:url(../../Media/Images/restaurantByCuisineBg.jpg);
	float:left;
}
.pageResultRate
{
	width:869px;
	height:71px;
	float:left;
}
.ResultRate
{
	width:183px;
	height:71px;
	float:left;
}
.Result
{
	width:686px;
	height:71px;
	float:left;
}
.ResultFound
{
	width:666px;
	height:25px;
	padding-left:20px;
	color:#FFFFFF;
	padding-top:10px;
}
.ResultFoundPrint
{
	width:80px;
	height:25px;
	color:#FFFFFF;
	float:left;
	text-align:left;
}
.perpage
{
	width:140px;
	height:25px;
	color:#FFFFFF;
	float:right;
	padding-right:30px;
}
.next
{
	width:20px;
	height:18px;
	padding-top:7px;
	float:right;
	text-align:left;
}
.previous
{
	width:20px;
	height:18px;
	padding-top:7px;
	float:right;
	text-align:right;
}
.pageof
{
	width:100px;
	height:25px;
	float:right;
	text-align:center;
}
.ResultFoundHelp
{
	width:80px;
	height:25px;
	color:#FFFFFF;
	float:left;
	text-align:left;
}
.ResultRateHeader
{
	width:183px;
	height:7px;
	background-image:url(../../Media/Images/rateHeader.jpg);
	background-repeat:no-repeat;
}
.ResultRateCenter
{
	width:183px; 
	height:80px;/*50*/
	background-image:url(../../Media/Images/ratebg.jpg);
	background-repeat:repeat-y;
}
.rateTip
{
	width:66px;
	height:35px;
	padding-left:20px;
	padding-top:32px; /*15*/
	font-weight:bold;
	color:#FFFFFF;
	float:left;
}
.rateText
{
	width:91px;
	height:80px; /*50*/
	float:right;
	color:#FFFFFF;
	padding-left:5px;
}
.ratePoor
{
	width:91px;
	height:16px;
	color:#FFFFFF;
	font-size:12px;
}
.pageResultByCuisineMain
{
	width:859px;
	padding-left:10px;
	height:auto;
	display:block;
	float:left;
}
.pageLeft
{
	width:649px;
	height:auto;		
	float:left;
	background-color:Transparent;
}
.pageResultByCuisineMainLeft, .pageResultByCuisineMainLeft_sponsor
{
	width:649px;
	height:auto;
	border:solid 1px #414141;
	background-color:#3d393a;
	float:left;
}
.pageResultByCuisineMainLeft_sponsor
{background-color:#494747;border:solid 1px #3d393a;}
.pageResultByCuisineMainStatic
{
	width:649px;
	height:auto;
	float:left;
}
.pageResultByCuisineMainTable
{
	width:649px;
	height:43px;
	float:left;
}
.pageResultByCuisineMainName
{
	width:198px;
	height:33px;
	float:left;
	text-align:left;
	padding-left:10px;
	color:#9aa5bd;
	font-weight:bold;
	font-size:12px;
}
.pageResultByCuisineMainNameTitle
{
	width:198px;
	height:33px;
	float:left;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
	color:#9aa5bd;
	font-weight:bold;
	font-size:12px;
}
.pageResultByCuisineMainNeighborhood
{
	width:100px;
	float:left;
	padding-top:10px;
	font-weight:bold;
	font-size:12px;
	color:#b59aa1;
	text-align:left;
	
}
.pageResultByCuisineMainNeighborhoodContent
{
	width:100px;
	float:left;
	padding-top:10px;
	font-size:11px;
	text-align:left;
	
}
.pageResultByCuisineMainScore
{
	width:50px;
	height:33px;
	float:left;
	font-weight:bold;
	font-size:12px;
	color:#b59aa1;
	text-align:left;
}
.pageResultByCuisineMainScoreTitle
{
	width:50px;
	height:33px;
	float:left;
	font-weight:bold;
	font-size:12px;
	color:#b59aa1;
	text-align:left;
	padding-top:10px;
}
.pageResultByCuisineMainScoreNumber
{
	width:50px;
	height:33px;
	float:left;
	font-weight:bold;
	font-size:18px;
	text-align:left;
}
.pageResultByCuisineMainPrice
{
	width:50px;
	height:33px;
	float:left;
	padding-top:10px;
	font-weight:bold;
	text-align:left;
	font-size:12px;
	color:#b59aa1;
}
.pageResultByCuisineMainPriceContent
{
	width:50px;
	height:33px;
	float:left;
	font-weight:bold;
	text-align:left;
	font-size:12px;
	color:#b59aa1;
}
.pageResultByCuisineMainAddress
{
	width:639px;
	height:auto;
	float:left;
	padding-left:10px;
}

.address a:link{text-decoration:none; color:#b89aa2;}
.address a:visited{text-decoration:none; color:#b89aa2;}
.address a:hover{text-decoration:none; color:#333333;}
.address
{
	width:150px;
	float:left;
	padding-left:10px;
}

.add_review a:link{text-decoration:none; color:#789cfc;}
.add_review a:visited{text-decoration:none; color:#789cfc;}
.add_review a:hover{text-decoration:none; color:#333333;}
.add_review
{
	width:auto;
	height:25px;
	text-align:center;
}
.hr
{
	width:649px;
	height:auto;
	float:left;
}
.icon
{
	width:639px;
	height:auto;
	float:left;
	padding-left:10px;
}
.pageResultByCuisineMainLeftHeader
{
	width:649px;
	height:9px;
	background-image:url(../../Media/Images/restaurantInfoHeader.jpg);
	background-repeat:no-repeat;
}
.pageResultByCuisineMainLeftCenter
{
	width:649px;
	height:auto;
	background-image:url(../../Media/Images/restaurantInfoBg.jpg);
	background-repeat:repeat-y;
}
.pageResultByCuisineMainLeftFooter
{
	width:649px;
	height:8px;
	background-image:url(../../Media/Images/restaurantinfoFooter.jpg);
	background-repeat:no-repeat;
	float:left;
}
.pageResultByCuisineMainRight
{
width:205px;
height:auto;
float:right;
	
}
.red_square
{
height:45px;
width:45px;
color:#FFFFFF;
font-weight:bold;
background-color:#A8100F;
padding:3px;
}

.pageResultByCuisineMainRightJoin
{
	width:205px;
	height:48px;
	float:left;
}
.pageResultByCuisineMainRightRefine
{
	width:195px;
	height:28px;
	float:left;
	padding-top:20px;
	padding-left:10px;
	font-size:13px;
	text-transform:uppercase;
}
.refine_result
{
	width:195px;
	height:25px;
	float:left;
	padding-left:10px;
}
.ResultRateFooter
{
	width:183px;
	height:8px;
	background-image:url(../../Media/Images/ratefooter.jpg);
	background-repeat:no-repeat;
}

#pageRestaurantByCuisineFooter
{
	width:869px;
	height:12px;
	float:left;
	background-image:url(../../Media/Images/restaurantByCuisinefooter.jpg);
	background-repeat:no-repeat;
}

.RestaurantByCuisineFooter_row
{	
	width:640px;
	height:auto;
	margin-top:5px;
	margin:0 auto;	
}

.RestaurantByCuisineFooter_column
{
	width:160px;
	height:auto;
	float:left;	
}
.titleListRestaurant{text-align:center; font-size:20px;padding:10px;}