<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restaurant.Library.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Restaurant.Library.Utilities.Properties.Settings>
            <setting name="Restaurant_Library_Utilities_net_interfax_ws_InterFax"
                serializeAs="String">
                <value>http://ws.interfax.net/dfs.asmx</value>
            </setting>
        </Restaurant.Library.Utilities.Properties.Settings>
    </applicationSettings>
</configuration>